@import "../../styles/mixins.scss";

.wrapper {
  @include baseCard;

  font-family: "Anonymous Pro", monospace;
  color: #282c34;
  background: #fff;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
}

.tick {
  background: #282c34;
  width: 10px;
  height: 2px;
  display: inline-block;
  animation: tick infinite 0.6s;
  margin-left: -4px;
}

@keyframes tick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
