@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkGreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

#root,
main {
  width: 100%;
  max-width: 980px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  margin: 8px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 100%;
}
