@import "../../styles/mixins.scss";

.wrapper {
  @include alignCenter;
  @include baseCard;

  svg {
    max-height: 260px;
    max-width: 260px;
  }
}

.blinkLeft {
  animation: blink-left 4s infinite ease-in-out;
}

.blinkRight {
  animation: blink-right 4s infinite ease-in-out;
}

.mouth {
  animation: speak 0.6s 6 ease-in-out alternate-reverse;
}

@keyframes speak {
  0% {
    transform: translate(0px);
  }

  30% {
    transform: translate(-5px);
  }

  60% {
    transform: translate(0px);
  }

  100% {
    transform: translate(8px);
  }
}

// Position of the eyelids
$left-open: 1.38156, 0, 0, 2e-6, -257.061, 175.5;
$left-closed: 1.38156, 0, 0, 1.76523, -257.061, -157.287;
$right-open: 1.38156, 0, 0, 2e-6, -159.658, 175.5;
$right-closed: 1.38156, 0, 0, 1.76523, -159.658, -157.28;

@keyframes blink-left {
  0% {
    transform: matrix($left-open);
  }

  10% {
    transform: matrix($left-closed);
  }

  20%,
  100% {
    transform: matrix($left-open);
  }
}

@keyframes blink-right {
  0% {
    transform: matrix($right-open);
  }

  10% {
    transform: matrix($right-closed);
  }

  20%,
  100% {
    transform: matrix($right-open);
  }
}
